.todo__alert{
    max-width: 1230px;
}
.todo__alert--success{
    margin: 0 auto;
    background: #d1e7dd;
    color: #0f5132;
    border: #badbcc;
}
.todo__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.create-form{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.create-form__item{
    width: 70%;
}
.create-form__item-input {
    border: 1px solid
    #ddd;
}
.create-form__button{
    width: 20%;
}
.todo-table{
    margin: 30px auto;
    width: 70%;
    text-align: left;
}
.todo-table__inner{
    width: 100%;
}
.todo-table__row{
    border-bottom: 1px solid #ddd;
}


.create-form__button-submit,
.update-form__button-submit,
.delete-form__button-submit{
    padding: 10px;
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.create-form__button-submit{
    background: #000;
}
.update-form__button-submit{
    background: #0000ff;
}
.delete-form__button-submit{
    background: #ff0000;
}