
.todo__alert--success{
    padding:10px 30px;
    background: #d1e7dd;
    color: #0f5132;
    border: #badbcc;
}
.todo__alert--danger {
    padding: 10px 0;
    background: #f8d7da;
    color: #842029;
    border: #f5c2c7;
}
.todo__alert--danger ul {
    margin: 0;
}
.todo__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.create-form{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.create-form__item{
    width: 70%;
}
.create-form__item-input {

    width: 100%;
    height: 40px;
    border: 1px solid#ddd;
    border-radius: 3px;
}
.create-form__button{
    width: 20%;
}
.create-form__button-submit{
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.todo-table{
    margin: 30px auto;
    width: 70%;
    text-align: left;
}
.todo-table__inner{
    width: 100%;
}
.todo-table__row{
    border-bottom: 1px solid #ddd;
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.update-form__item{
    width: 80%;
    line-height: 50px;
}
.update-form__item-input{
    width: 100%;
    border: none;
    outline: none;
}
.update-form__button{
    width: 50px;
}

.delete-form__button{
    width:50px;
}

.update-form__button-submit,
.delete-form__button-submit{
    margin:auto 0;
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.update-form__button-submit{
    background: #0000ff;
}
.delete-form__button-submit{
    background: #ff0000;
}